<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment = "head">
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Contact</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet"  th:href = "@{/css/fragment.css}">
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav th:fragment = "header" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" th:href="@{/index}">My Contact</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a th:href="@{/index}">HOME</a></li>
        <li><a th:href="@{/contact/add}">ADD CONTACT</a></li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Merchandise</a></li>
            <li><a href="#">Extras</a></li>
            <li><a href="#">Media</a></li>
          </ul>
        </li> -->
        <li action="#" th:action="@{/contact/search}" method="get">
			<form class="form-inline" action="#" th:action="@{/contact/search}" method="get">
    			<input class="form-control mr-sm-2" type="search" name="searchString" placeholder="Search by name ..." />
    			<button class="btn" type="submit">
        			<i class="fa fa-search"></i> Search
    			</button>
			</form>
		</li>
		<li> 
				<div class ="info-user" sec:authorize="isAuthenticated()">
					<span>Hi, </span>
  					<span sec:authentication="name"></span>
					</br>
					<span sec:authentication="principal.authorities"></span>
					<form action="#" th:action="@{/logout}" method="POST">
        				<button class="btn btn-default btn-sm" type="submit"><span class="glyphicon glyphicon-log-out"></span> Log out</button>
    				</form>
				</div>

		</li>
      </ul>
    </div>
  </div>
</nav>





<!-- Footer -->
<footer th:fragment = "footer" class="text-center">
  <a class="up-arrow" th:href="@{#myPage}" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>Bootstrap Theme Made By <a href="https://www.w3schools.com" data-toggle="tooltip" title="Visit w3schools">www.w3schools.com</a></p>
</footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</body>
</html>
