<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace = "fragment/fragment:: head">
<!--<link rel="stylesheet" href="../static/css/fragment.css" th:href = "@{/css/fragment.css}">-->
</head>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/add-contact.css}"/>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav th:replace = "fragment/fragment :: header"></nav>
	
	<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Add contact here</em></p>

  <div class="row">
    <div class="col-md-2 contact-right" >

      <p><span class="glyphicon glyphicon-map-marker"></span>Name:</p>
      <p><span class="glyphicon glyphicon-phone"></span>Phone:</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Email:</p>
	  <p><span class="glyphicon glyphicon-picture"></span>Image:</p>
    </div>
	<form th:action="@{/contact/save}" th:object="${contact}" method="post" novalidate="novalidate" enctype="multipart/form-data">
    <div class="col-md-10" >
      <div class="row" >
      <input type="hidden" th:field="*{id}" />
        <div class=" form-group" >
          	<input th:field="*{name}" class="form-control" id="name" name="name" placeholder="Name" type="text" th:errorclass="field-error" required>
			<em th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></em>
        </div>
        <div class=" form-group">
          	<input th:field="*{phone}" class="form-control" id="phone" name="phone" placeholder="Phone" type="text" >
        	
		</div>
        <div class=" form-group">
          	<input th:field="*{email}" class="form-control" id="email" name="email" placeholder="Email" type="email" th:errorclass="field-error" required>
        	<em th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></em>
		</div>
		<div class=" form-group">
          	<input  class="form-control" id="image" name="image" placeholder="Image" type="file" >
        	<!--<img th:attr="@{'/images/' + ${contact.link} }" alt="Not exist avatar"  height="20px" width="60px">-->
		</div>
      </div>

      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Save</button>
        </div>
      </div>
	</div>
    </form>
  </div>
  <br>
  <!-- <h3 class="text-center">From The Blog</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Mike</a></li>
    <li><a data-toggle="tab" href="#menu1">Chandler</a></li>
    <li><a data-toggle="tab" href="#menu2">Peter</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Mike Ross, Manager</h2>
      <p>Man, we've been on the road for some time now. Looking forward to lorem ipsum.</p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Chandler Bing, Guitarist</h2>
      <p>Always a pleasure people! Hope you enjoyed it as much as I did. Could I BE.. any more pleased?</p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Peter Griffin, Bass player</h2>
      <p>I mean, sometimes I enjoy the show, but other times I enjoy other things.</p>
    </div>
  </div> -->
</div>
	
	<footer th:replace = "fragment/fragment :: footer"></footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/fragment.js}"></script>
</body>
</html>