<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head th:replace = "fragment/fragment:: head">
<!--<link rel="stylesheet" href="../static/css/fragment.css" th:href = "@{/css/fragment.css}">-->
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav th:replace = "fragment/fragment :: header"></nav>
	
	
<!-- Container (TOUR Section) -->
<div id="tour" >
  <div class="container">
    <h3 class="text-center">CONTACT</h3>



	 



    <!-- <ul class="list-group">
      <li class="list-group-item">September <span class="label label-danger">Sold Out!</span></li>
      <li class="list-group-item">October <span class="label label-danger">Sold Out!</span></li>
      <li class="list-group-item">November <span class="badge">3</span></li>
    </ul> -->

    <div class="row text-center">
		<div th:if="${successMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
	        <span th:text="${successMessage}"></span>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	        </button>
		</div>
      <div class="col-sm-4"  th:each= "contact:${contacts}">
        <div class="thumbnail">
          	<img th:src="@{'/images/' + ${contact.link}}" alt="Not exist avatar"  height="20px" width="60px">
          	<p><strong th:text="${contact.name}"></strong></p>
          	<p th:text= "${contact.email}"></p>
			<p th:text= "${contact.phone}"></p>
          	<a th:href="@{/contact/{id}/edit(id=${contact.id})}">Update</a>
			<a id="button-delete" th:href="@{/contact/{id}/delete(id=${contact.id})}"   class="text-danger" >Delete</a>
        </div>
      </div>
          </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="updateModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Tickets</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
              <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>
              <button type="submit" class="btn btn-block">Pay
                <span class="glyphicon glyphicon-ok"></span>
              </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <p>Need <a href="#">help?</a></p>
        </div>
      </div>
    </div>


  </div>
  	<!-- Modal -->
  <div class="modal fade" id="deleteModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">×</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Are you sure to delete this contact</h4>
        </div>
        <div class="modal-body">
          <form role="form">
            <!--<div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-shopping-cart"></span> Tickets, $23 per person</label>
              <input type="number" class="form-control" id="psw" placeholder="How many?">
            </div>
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Send To</label>
              <input type="text" class="form-control" id="usrname" placeholder="Enter email">
            </div>-->
              <button id="button-confirm"  type="submit" class="btn btn-block">Delete
                <span class="glyphicon glyphicon-ok"></span>
              </button>
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove"></span> Cancel
          </button>
          <!--<p>Need <a href="#">help?</a></p>-->
        </div>
      </div>
    </div>
</div>

	
	<footer th:replace = "fragment/fragment :: footer"></footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/fragment.js}"></script>
	<script type="text/javascript" th:src="@{/js/contact.js}"></script>
	
</body>
</html>