<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace = "fragment/fragment:: head">
</head>
<head>
	<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}"/>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">
	<nav th:replace = "fragment/fragment :: header"></nav>
	<div id="contact" class="container form-login" >
		<p th:if="${param.error}" class="error">Invalid email or password</p>
        <p th:if="${param.logout}" class="success">You have been logged out</p>
		<form  th:action="@{/login}"  method="POST">
			<h1>Login</h1>
			<input name = "name" placeholder="Username" type="text" required>
			<input name = "pass" placeholder="Password" type="password"
				required>
			<button type="submit" value="Submit">Log in</button>
	
		</form>	
	</div>
	
	<footer th:replace = "fragment/fragment :: footer"></footer>
	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" th:src="@{/js/fragment.js}"></script>
	
	
</body>
</html>